

.featured__title{
    font-size: var(--size-xl);
    color: var(--clr-light);
}

.featured__subtitles{
    font-size: var(--size-sm);
    color: var(--clr-rose);
    font-weight: 400;
    text-transform: capitalize;
}


.featured__wrapper{
    display: flex;
    gap: 1em;
}

.featured__link{
    display: block;
    height: var(--size-2xl);
    width: var(--size-2xl);
    color: var(--clr-rose);
}



.featured__decription{
    max-width: 60ch;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    margin: 1rem 0;
}

.featured__lable{
    font-size: var(--size-base);
    color: var(--clr-light);
    text-transform: capitalize;
    margin-bottom: 0.25em;
}

.featured__tech-stack{
    padding: 0;
    list-style-type: none;
}

.featured__info{
    text-transform: capitalize;
    font-size: var(--size-sm);
    margin-bottom: .5rem;
}

.featured__info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.featured__info-container div{
    flex: 1;
    min-width: 250px;
}

.feature__image-wrapper img{
    width: 45.675rem;
    height: 12rem;
}

.feature__image-wrapper{
    position: relative;
    
}

.feature__image-wrapper::after{
content: '';
background-color:  rgba(79, 70, 229, 0.4);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1;
transform: background-color 0.3s;
}

.feature__image-wrapper:hover::after{
    background-color:  rgba(79, 70, 229, 0.1);
}

.featured__img-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}


@media(min-width: 475px){
    .featured__subtitles{
        font-size: var(--size-base);
    }
    .featured__title{
        font-size: var(--size-3xl);
        
    }
    .featured__link{
       
        height: var(--size-3xl);
        width: var(--size-3xl);
    }

    .featured__decription{
       
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }

    .featured__lable{
        font-size: var(--size-lg);
       
    }
    
    
    
    .featured__info{
       
        font-size: var(--size-base);
    }

    .featured__img-container{
        margin-top: 1.5rem;
        grid-gap: 1.5rem;
    }
}

/* sm*/
@media(min-width: 640px){
    .featured__subtitles{
        font-size: var(--size-lg);
    }

    .featured__title{
        font-size: var(--size-4xl);
        
    }
    .featured__link{
       
        height: var(--size-4xl);
        width: var(--size-4xl);
    }

    .featured__decription{
       
        font-size: var(--size-lg);
        margin: 2rem 0;
    }

    .featured__img-container{
       
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
       
    }
}

/* md */
@media(min-width: 768px){
    .featured__subtitles{
        font-size: var(--size-xl);
    }
    .featured__title{
        font-size: var(--size-5xl);
        
    }

    .featured__link{
       
        height: var(--size-5xl);
        width: var(--size-5xl);
    }
}

/* lg */
@media(min-width: 1024px){
    .featured__subtitles{
        font-size: var(--size-2xl);
    }
    .featured__title{
        font-size: var(--size-4xl);
        
    }
    .featured__link{
       
        height: var(--size-6xl);
        width: var(--size-6xl);
    }

    .featured__decription{
       
        font-size: var(--size-lg);
      
       
    }

    .featured__lable{
        font-size: var(--size-xl);
       
    }
    
    
    
    .featured__info{
       
        font-size: var(--size-lg);
    }

    .featured__img-container{
        margin-top: 2rem;
        grid-gap: 2rem;
    }
    .featured__wrapper{
        display: flex;
        text-align: center;
        place-items: center;
        gap: 1em;
    }
}

/*xl */
@media(min-width: 1280px){
    .featured__title{
        font-size: var(--size-5xl);
        
    }

    .featured__decription{
       
        font-size: var(--size-xl);
        margin: 2rem 0;
    }

    .featured__lable{
        font-size: var(--size-2xl);
       
    }
    
    
    
    .featured__info{
       
        font-size: var(--size-xl);
    }
}

/* xl */
@media(min-width: 1536px){}